<div class="embed-maps">
  <div class="tabs">
    @for(source of sources; track i; let i = $index) {
      <button (click)="select(i)" [class.active]="activeIndex() === i">
        {{ source.name }}
      </button>
    }

  </div>

  <section>
    <div class="disclaimer-box">
      <h3>📌 What is this?</h3>
      <p>Check out the collated pins of food spots in Singapore below! Start by clicking on any of the pins or view the larger map for more information.Feel free to contact me to add in your own map as well</p>
    </div>
  </section>

  <section class="iframe">
    <iframe [src]="activeSource" width="640" height="480" frameborder="0" allowfullscreen></iframe>
  </section>
</div>